---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ParallaxHero from '../components/ParallaxHero.astro';
import ProjectCard from '../components/ProjectCard.astro';
import heroImage from '../assets/images/home/hero.png';
import layer0 from '../assets/images/home/hero_layers/layer_0.png';
import layer1 from '../assets/images/home/hero_layers/layer_1.png';
import layer2 from '../assets/images/home/hero_layers/layer_2.png';
import layer3 from '../assets/images/home/hero_layers/layer_3.png';
import layer4 from '../assets/images/home/hero_layers/layer_4.png';

const projects = await getCollection('projects');
---

<Layout title="Association Sanctopia" description="Sanctopia est la vision d’un monde anti-spéciste où tous les animaux, sans distinction d’espèce, sont traités avec le même respect, la même bienveillance et le même soin que dans un sanctuaire.">
  <div class="relative">
    <ParallaxHero images={[heroImage, layer0, layer1, layer2, layer3, layer4]} />
    <div class="flex flex-col absolute inset-0 h-dvh">
      <div class="flex flex-col justify-center items-center h-1/3 lg:h-1/2 overflow-hidden">
        <p class="suptitle motion-preset-slide-down">L'association</p>
        <h1 class="title motion-preset-focus motion-preset-shrink">Sanctopia</h1>
        <p class="subtitle motion-preset-slide-up">Tissons une utopie animale</p>
      </div>
      <div class="flex items-end justify-center h-1/2 md:h-1/3 lg:h-1/4">
        <a class="btn btn-xl btn-neutral motion-preset-slide-up" href="/">Faire un don</a>
      </div>
    </div>
    <section class="overflow-hidden">
      <div class="bg-dark-green px-12 pt-6 lg:pt-36 pb-[500px] wave-container">
        <div class="flex flex-col lg:gap-2 items-center">
          <h2 class="h2 intersect:motion-preset-slide-right motion-duration-500">Nos projets</h1>
          <p class="text-neutral text-center text-sm lg:text-lg intersect:motion-preset-slide-left motion-duration-500">Chaque projet a pour but d’aider la cause animale</p>
        </div>
      </div>
      <ul class="-mt-[460px] flex flex-row grap-4 items-center justify-center px-4">
        {projects.map(project => (
          <ProjectCard {...project.data} />
        ))}
      </ul>
    </section>
  </div>
</Layout>
