---
import Menu from "./Menu.astro";
---

<input id="drawer" type="checkbox" class="drawer-toggle" />
<div class="drawer-side z-50">
  <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <ul class="menu menu-lg bg-base-200 min-h-full w-80 p-4">
    <Menu />
  </ul>
</div>

<div class="navbar sticky bg-base-100/80 backdrop-blur-lg top-0 z-40">
  <div class="navbar-start">
    <label for="drawer" tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
    </label>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-lg menu-horizontal px-1">
      <Menu />
    </ul>
  </div>
  <div class="navbar-end">
    <a href="/dons" class="btn btn-accent">Faire un don</a>
  </div>
</div>
