---
import '@fontsource-variable/cormorant-garamond';
import '@fontsource-variable/catamaran';

import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";


const { title, description } = Astro.props;
---

<html lang="fr" data-theme="sanctopia">
	<head>
    <script>
      import { Observer } from 'tailwindcss-intersect';
      Observer.start();
    </script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <BaseHead title={title} description={description} />
	</head>
	<body class="flex flex-col relative drawer">
    <Nav />
    <slot />
	</body>
</html>
